:root {
  --accent: /* #54d02b */ /* #58a6ff */ #69afff;
  --accent-darker: /* #39a615 */ #4f95e6;
  --text: /* #e0e1f0 */ #c9d1d9;
  --bg: /* #14121a */ #0d1117;
  --text-sub: #b7b8c5;
  --text-alt: #7a7a85;
  --bg-alt: /* #201e26 */ #161b22;
  --font: Roboto Mono, monospace;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --nav-height: 6.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--bg);
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  color: var(--text-sub);
  background: var(--bg);
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  tab-size: 4;
  font-weight: var(--weight-normal);
}

h2,
h3 {
  font-weight: var(--weight-medium);
}

p {
  color: var(--text-sub);
}

a,
p {
  font-size: 1.4rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: var(--nav-height);
  /* background-color; */
}

.logo {
  text-decoration: none;
  cursor: pointer;
}

.logo__para {
  color: var(--text);
  font-weight: var(--weight-medium);
  font-size: 3.4rem;
}

.logo__span {
  color: var(--accent);
  font-weight: var(--weight-bold);
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: var(--accent);
  position: relative;
  font-size: 1.6rem;
}

.nav__link::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--text);
  position: absolute;
  left: 0;
  bottom: -0.7rem;
}

.nav__link:hover::after,
.nav__link:active::after {
  width: 100%;
}

.container {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 3.2rem;
  gap: 2rem;

  width: auto;
}

.title {
  font-size: 6.4rem;
  text-align: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: var(--accent);

  margin-top: 3.4rem;
}

.sub__title {
  font-size: 2.4rem;
  color: var(--text-sub);
  text-align: center;
  margin-bottom: 6.4rem;
}

.btn {
  text-decoration: none;
  color: var(--accent-darker);
}

/* NEW HOMEPAGE */

hr {
  margin: 1.5rem 0;
  border: 0;
  border-bottom: 2px dashed var(--text-sub);
}

.home__page {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--nav-height));
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 14rem 4rem;
}

/* Left side */
.home__left {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 40rem;
}

.home__intro {
  font-size: 2.4rem;
  color: var(--text);
  margin-left: 1.4px;
}
.home__name {
  color: var(--accent);
  font-size: 3.8rem;
  padding: 1.4rem 0;
  font-weight: var(--weight-bold);
}
.home__about-title {
  margin: 1rem 0;
  color: var(--text);
  font-weight: var(--weight-medium);
}
.home__about-text {
}

/* center */
.home__center {
  /* height: 35rem; */
}

.home__img g {
  fill: var(--accent);
}

/* Right side */
.home__right {
  width: 20rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
}

.home__blog-title {
  color: var(--text);
}
.home__blog-articles {
}

.home__blog-list {
  list-style: none;
  padding: 1rem 0;
}

.home__blog-list-item {
  text-decoration: underline;
  color: var(--accent);
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}
.contact__icon {
  color: var(--accent);
  height: 25px;
  width: 25px;
}

.home__contact {
  color: var(--text);
}

.about__link {
  text-decoration: none;
  height: 100%;
  width: fit-content;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.4s;
  color: var(--accent);
}

.about__link:hover {
  transform: translateY(-5px);
}

/* .footer__copyright {
}

footer {
  position: absolute;
  left: 0;
  bottom: 0px;
  margin-top: 9.6rem;
  height: 3rem;
  width: 100%;
}

.copyright {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: center;
  bottom: 0;
  padding: 2.4rem 0;
} */

/* BLOG */

.blog__container {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin: 9.6rem auto;
  border-radius: 2rem;
  padding: 3.4rem;
  row-gap: 2rem;
}

.blog__content {
  padding: 1rem;
}

.blog__sub-text {
  color: var(--accent);
  padding: 1rem;
}

.blog__codeblock {
  background-color: var(--bg-alt);
  width: fit-content;
  padding: 1rem;
  border-radius: 2rem;
  margin: 1rem;
}

.blog__codeblock-span {
  color: var(--accent);
}

.blog__header {
  color: var(--accent);
  /* color: var(--text); */
  margin: 3.4rem 0;
  font-size: 2.4rem;
  font-weight: var(--weight-bold);
  padding: 1rem;
}

.resources__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog__resources-title {
  color: var(--text);
  margin-top: 3.4rem;
  margin-bottom: 3.4rem;
}

.blog__resources-subtitle {
  color: var(--text);
  margin-top: 3.4rem;
  margin-bottom: 3.4rem;
}

.resource__list {
  list-style: none;
}
.resource__link {
  text-decoration: none;
  color: var(--accent-darker);
}

.resource-img {
  width: 100%;
}

.resources__container {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin: 9.6rem auto;
  background-color: var(--bg-alt);
  border-radius: 2rem;
  row-gap: 2rem;
  padding: 3.4rem;
}

/* BLOG PAGE */

.blog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 9.6rem auto;
  max-width: 80rem;
}

.blog__item {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 0;
  padding: 4.8rem 2rem;
}

.blog__item-title {
  grid-column: 1 / 4;
  color: var(--accent);
  font-size: 1.8rem;
}

.item__blurb {
  grid-column: 1 / 4;
  padding-right: 1.4rem;
}

.btn-2 {
  grid-column: 1 / 4;
}
