/* ******************** */
/*  BELOW 1344px */
/* ******************** */

@media (max-width: 84rem) {
}

/* ******************************** */
/*  BELOW 1200px(landscape tablets) */
/* ******************************** */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* ******************************** */
/*  BELOW 944px(Tablets) */
/* ******************************** */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}

/* ******************************** */
/*  BELOW 704px(Small Tablets) */
/* ******************************** */

@media (max-width: 47em) {
  html {
    font-size: 43.75%;
  }

  .home-page {
    flex-direction: column;
    justify-content: center;
  }

  .home-center {
    display: flex;
    order: 0;
  }
  .home-left {
    width: 70vw;
    order: 1;
  }

  hr {
    display: none;
  }

  .home-right {
    width: 70vw;
    order: 2;
  }

  .home-center__img {
    height: auto;
    width: 70%;
    margin: 0 auto;
  }

  .blog-container--grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* ******************************** */
/*  BELOW 544px(Phones) */
/* ******************************** */

@media (max-width: 34em) {
  .blog-container--grid {
    grid-template-columns: 1fr;
  }
}

/* ******************************** */
/*  BELOW 340px(Phones) */
/* ******************************** */

@media (max-width: 23em) {
  .heading-title {
    font-size: 5.4rem;
  }

  .home-center {
    display: none;
  }
}
