/* ******************** */
/*  BELOW 1344px */
/* ******************** */

@media (max-width: 84rem) {
}

/* ******************************** */
/*  BELOW 1200px(landscape tablets) */
/* ******************************** */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* ******************************** */
/*  BELOW 944px(Tablets) */
/* ******************************** */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  /* .blog-container--grid {
    max-width: 70rem;
  } */
}

/* ******************************** */
/*  BELOW 704px(Small Tablets) */
/* ******************************** */

@media (max-width: 47em) {
  html {
    font-size: 43.75%;
  }

  .blog-feed__item {
    flex-direction: column;
  }

  .blog-post__meta {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: space-between;
  }

  .blog-post {
    width: 100%;
  }

  .blog-post__date {
    font-size: 1.6rem;
  }

  .blog-post__categories {
    padding: 0.75rem 1rem;
    margin-left: 0.5rem;
  }

  .home-page {
    flex-direction: column;
    justify-content: center;
  }

  .home-center {
    display: flex;
    order: 0;
  }
  .home-left {
    width: 70vw;
    order: 1;
  }

  hr {
    display: none;
  }

  .home-right {
    width: 70vw;
    order: 2;
  }

  .home-center__img {
    height: auto;
    width: 70%;
    margin: 0 auto;
  }

  /* MOBILE Navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .nav {
    background-color: var(--bg-alt);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    /* inset: 0 0 0 0; */
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    position: fixed;
    z-index: 2;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .nav__list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 3rem;
  }

  .home-right__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 50rem;

    /* justify-content: space-between; */
  }

  .home-right__heading {
    margin-bottom: 1rem;
  }
  .contact {
    margin-top: 2rem;
  }
  p {
    font-size: 1.8rem;
  }
}

/* ******************************** */
/*  BELOW 544px(Phones) */
/* ******************************** */

@media (max-width: 34em) {
  html {
    font-size: 37.5%;
  }

  .blog-container-2 {
    max-width: 70rem;
  }

  .blog-feed {
    max-width: 60rem;
  }
  .home-right__list {
    /* flex-direction: column; */
    gap: 2rem;
    justify-content: flex-start;
  }
  .home-left {
    height: 30rem;
  }
  .home-page {
    padding-top: 0rem;
  }
  p,
  a {
    font-size: 2rem;
  }

  .heading-secondary {
    font-size: 3.4rem;
  }

  .span--accent {
    font-size: 2rem;
  }
  .span__list {
    font-size: 2rem;
    display: block;
    margin-bottom: 0.8rem;
  }
  .blog-container__list-2 {
    width: 55rem;
  }
}

/* ******************************** */
/*  BELOW 340px(Phones) */
/* ******************************** */

@media (max-width: 23em) {
  html {
    font-size: 31.25%;
  }

  .heading-primary {
    font-size: 5.4rem;
  }

  .blog-feed {
    max-width: 55rem;
  }

  .home-page {
    padding-top: 0rem;
    /* justify-content: space-evenly; */
    gap: 6rem;
  }

  .home-left {
    gap: 2rem;
    height: auto;
    order: 0;
  }
  .home-left__heading-2 {
    font-size: 4rem;
    margin-left: 5px;
  }
  .home-left__heading {
    font-size: 9.4rem;
    /* margin-bottom: 1rem; */
  }
  .home-left__about-heading {
    font-size: 3.4rem;
  }

  .home-left__about-text {
    font-size: 2.4rem;
  }

  .home-center {
    display: none;
    order: 2;
  }
  .home-right {
    order: 1;
  }
  .home-right__heading {
    font-size: 4rem;
  }

  .home-right__list {
    flex-direction: column;
    gap: 1.5rem;
  }
  .home-right__link {
    font-size: 2.4rem;
  }
}
